<div class="col-md-6 col-md-offset-3">
    <a href="/">Назад</a>
    <div class="well">
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="">
                    <p>Заголовок</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut blanditiis culpa dolorem dolorum earum eligendi esse, excepturi maiores modi non obcaecati, reprehenderit, saepe sunt totam vel voluptatum. Enim, ipsam!</p>
                </a>
            </li>
            <li>
                <a href="">
                    <p>Заголовок</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut blanditiis culpa dolorem dolorum earum eligendi esse, excepturi maiores modi non obcaecati, reprehenderit, saepe sunt totam vel voluptatum. Enim, ipsam!</p>
                </a>
            </li>
            <li>
                <a href="">
                    <p>Заголовок</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut blanditiis culpa dolorem dolorum earum eligendi esse, excepturi maiores modi non obcaecati, reprehenderit, saepe sunt totam vel voluptatum. Enim, ipsam!</p>
                </a>
            </li>
            <li>
                <a href="">
                    <p>Заголовок</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut blanditiis culpa dolorem dolorum earum eligendi esse, excepturi maiores modi non obcaecati, reprehenderit, saepe sunt totam vel voluptatum. Enim, ipsam!</p>
                </a>
            </li>
            <li>
                <a href="">
                    <p>Заголовок</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut blanditiis culpa dolorem dolorum earum eligendi esse, excepturi maiores modi non obcaecati, reprehenderit, saepe sunt totam vel voluptatum. Enim, ipsam!</p>
                </a>
            </li>
        </ul>
    </div>
</div>
